*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* classi riutilizzabili */

.clearfix::after{
    content: "";
    clear: both;
    display: table;
} 

.btn{
    background-color: #0061ff;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    padding: 3px 12px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.fixed{
    position: fixed;
}

.debug{
    border: 1px solid grey;
}


.w30{
    width: 30%;
}

.w70{
    width: 70%;
}

.w20{
    width: 20%;
}

.white{
    color: white;
}

.blue{
    text-decoration: underline;
    color: blue;
}

.black{
    color: black;
}

.bg-white{
    background-color: white;
}

.align{
    text-align: center;
}

.margin12{
    margin-right: 12%;
}

/* inizio classi nav */

.container{
    width: 100%;
    padding: 20px;
    background-color: white;
    z-index: 2;
}

.container .right-header{
    position:relative;
    top: 0;
    right: 0;
}

.container span{
    padding: 15px;
    font-size: 15px;
}

.container img{
    padding-right: 15px;
}

a{
    text-decoration: none;
}

.container .btn{
    margin-left: 15px;
}

/* inizio classi header */

.container2{
    background-color: rgba(0,97,254,.5);
    padding: 200px 150px 0;
    padding-top: 250px;
}

.container2 h1{
    font-size: 50px;
}

.container2 p{
    margin-top: 80px;
    margin-bottom: 25px;
    font-size: 15px;
}

.container2 .btn{
    margin-bottom: 10px;
}

.container2 img{
    width: 100%;
    margin-left: 20px;
    position: relative;
    top: 80px;
}

.arrow-down{
    font-size: 60px;
    margin-top: 25px;
}

.container2 .content span{
    display: block;
    font-size: 15px;
}

/* inizio classi main */

/* parte tab */

main .title-tabs h2{
    font-size: 30px;
    margin: 200px auto 50px;
}

main input{
    font-size: small;
    margin-bottom: 30px;
}

.tabs, .title-tabs{
    max-width: 1200px;
    margin: 0 auto;
}

.title-tabs{
    padding-left: 20px;
}

.row{
    text-align: center;
}

.list{
    min-height: 1050px;
    width: 29%;
    margin: 0 20px;
}

.container3 span{
    display: block;
    font-size: small;
}

.border-solid{
    border: 1px solid grey;
    width: 60px;
    margin-bottom: 40px;
}

.container3 ul{
    list-style: none;
    list-style-type: none;
}

.container3 li{
    line-height: 1.2rem;
    font-size: small;
    margin: 15px auto;
}

.small{
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.container3 h4{
    margin-bottom: 18px;
}

.container3 h5{
    margin-bottom: 8px;
}

.container3 span{
   margin-bottom: 10px;
}

.container3 .first-span{
    margin-bottom: 50px;
}

.container3 .btn{
    margin: 50px auto 30px;
    text-align: center;
}

.container3 .shop-now{
    margin-bottom: 30px;
}

.container3 .up, .down{
    padding: 40px;
}

#input{
    margin-right: 50px;
}

.big-list{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 12%;
}

.tab span{
    display: block;
    font-size: small;
}

.tab .text{
   padding: 40px;
   position: relative;
}

.tab h4{
    margin-bottom: 18px;
}

.tab h5{
    margin-bottom: 25px;
}
 
.tab .btn{
    position: absolute;
    top: 40px;
    right: 40px;
}

/* parte img partner */

.container4{
    width: 100%;
    margin-top: 200px;
}

.container4 .partner-img{
    width: 60%;
 }

.container4 img{
   width: 70%;
   margin-left: 18%;
}

.container4 .partner-text{
    width: 30%;
    position: relative;
    right: 160px;
    top: 50px;
 }

 .container4 h2{
     margin-bottom: 30px;
 }
 
 .container4 p{
    line-height: 25px;
}

.container4 .btn{
    margin-top: 25px;
}

/* inizio sezione operations */

.container5{
   margin: auto 10%;
}

.container5 h2{
    margin-top: 150px;
    margin-bottom: 15px;
}

.operations{
    width: 25%;
    margin-top: 40px;
}

.container5 img{
    width: 100%;
}

.container5 p span{
    text-decoration: underline;
}

.container5 p{
    font-size: small;
}

.container5 h4{
    margin-bottom: 20px;
}

/* sezione team */

.team{
    width: 350px;
    margin-left: 10%;
    margin-top: 200px;
    margin-bottom: 50px;
}

.team h2{
    margin-bottom: 40px;
}

.continer6{
    width: 100%;
    margin-top: 100px;
}

.container6 .cont-squares{
    width: 30%;
    position: relative;
}

#designit{
    width: 216px;
    height: 216px;
    background-color: #a2d39b;
}

#arizona{
    width: 216px;
    height: 216px;
    background-color: #61082b;
    position: absolute;
    top: 0;
    left: 216px;
}

#florida{
    width: 216px;
    height: 216px;
    background-color: rgba(0,97,254,.5);
}

#topps{
    width: 216px;
    height: 216px;
    background-color: red;
    position: absolute;
    top: 216px;
    left: 216px;
}

.container6 .cit{
    width: 40%;
    height: 432px;
    background-color: #f5f5f5;
    padding: 50px;
}

#bicycle{
    width: 216px;
    height: 216px;
    background-color: #d5001f;
}

#hearst{
    width: 216px;
    height: 216px;
    background-color: #99c0ff;
    position: absolute;
    top: 0;
    left: 216px;
}

#lonely{
    width: 216px;
    height: 216px;
    background-color: #0052d8;
}

#clear{
    width: 216px;
    height: 216px;
    background-color: #ffd830;
    position: absolute;
    top: 216px;
    left: 216px;
}

.size{
    width: 150px;
}

.position{
    position: relative;
    top: 85px;
    left: 35px;
}

.position-2{
    position: relative;
    top: 55px;
    left: 35px;
}

.position-3{
    position: relative;
    top: 100px;
    left: 35px;
}

.position-4{
    position: relative;
    top: 100px;
    left: 35px;
}

.position-5{
    position: relative;
    top: 65px;
    left: 35px;
}

.cit p{
    font-size: small;
    margin-top: 80px;
}

.cit img{
    margin-bottom: 50px;
}

/* sezione Dropbox nella tua azienda  */

.container7{
    width: 100%;
    height: 300px;
    background-color: #b4d0e7;
}

.container7 .text7{
    color: #61092b;
    display: inline-block;
    width: 300px;
    margin-left: 10%;
    position: relative;
    top: 45%;
}

.position-6{
    position: relative;
    top: 110px;
    left: 480px
}

